html body {
  height: 100%;
}

 /* Question 1 */
.left {
  width: 200px;
}

.center {
  width: 600px;
  max-width: 600px;
}

.right {
  min-width: 100px;
  width: 300px;
  max-width: 600px;
}

.container {
display: flex;
  padding: 10px;
  height: 100%;

}

.container > div {
  border: solid 1px;
  height: 100%;
}

/* end Question 1 */

